<div class="row">
 <div class="col-lg-12 text-center">
 <h1>A little bit about me</h1>
		<div class="half-width">
			<p>I&rsquo;ve made my home base in Hilo, Hawaii for the past few years. I live in a small apartment on the bay with my wonderful fiancee Joe, where we live and work with the salty ocean air. After becoming part of a team of like-minded buisiness owners (more accurately, regular people who started businesses from home) I discovered that we all had a need for one thing and we needed that thing soon. That one thing was a website. A web presence is crucial in today&rsquo;s marketing arena and so I jumped into coding with both feet!!</p>
		</div>
		<div class="half-width">
			<p>Since I built my first Wordpress website using tutorials on Youtube, I have graduated to taking more structured courses at <a href="http://www.skillcrush.com" target="_blank">Skillcrush</a> and I am learning so quickly it seems impossible!! My first desire is to be able to build a quick, affordable, and easily updated website for my fellow entrepreneurs to be able to use and offer along with a position in the business. That being said, I quickly realized the vast potential of these skills, so the sky&rsquo;s the limit! I look forward to helping people stake out their tiny piece of the Web to call their own!</p>
		</div>
 <ul class="list-unstyled">
 <li>List Item</li>
 <li>List Item 2</li>
 </ul>
 </div>
</div>
