<div class="row">
 <div class="col-lg-12 text-center">
 <h1>Contact Us</h1>
 <div class="full-width">
					
						
					</div>
				
						<h2>Like what you see?</h2>
						
						<h3 id="email-header">Hire me to do your next project!</h3>
						<h4><a href="mailto:meg@happyzencode.com">meg [@] happyzencode.com</a></h4>
						
						<!--<h3 id="socialmedia-header">Or, find me on the interwebs.</h3>-->
						<!--<ul>         <!--social media links!!!-->  -->
						<!--	<li><a href="http://twitter.com/megmillerhilo"><img class="sm-social" src="img/twitter-circle.png" alt="twitter icon"/></a></li>-->
						<!--	<li><a href="https://www.youtube.com/channel/UCz3TR7YNbpSqHI6TAzAmhaw"><img class="sm-social" src="img/youtube-circle.png" alt="Youtube icon"/></a></li>-->
						<!--	<li><a href="https://plus.google.com/u/2/100070974169734960991"><img class="sm-social" src="img/googleplus-circle.png" alt="instagram icon"/></a></li>-->
						<!--	<li><a href="https://www.linkedin.com/in/megmillerhilo"><img class="sm-social" src="img/linkedin-circle.png" alt="linkedin icon"/></a></li>-->
						<!--	<li><a href="https://www.facebook.com/themegmiller"><img class="sm-social" src="img/facebook-circle.png" alt="Facebook icon"/></a></li>-->
						<!--	<li><a href="https://github.com/AumDove"><img class="sm-social" src="img/github.png" alt="Github icon"/></a></li>-->
						<!--</ul>-->
					</div>
				</div>
 <ul class="list-unstyled">
 <li>List Item</li>
 <li>List Item 2</li>
 </ul>
 </div>
</div>
